.hero-section{
    color: silver;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}
.background-text{
    font-size: 15vw;
    position: absolute;
    top: 30vh;
    opacity: 0.09;
    color: gray;
    font-weight: bolder;
}

.slider-Details{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.hero-btn {
    background-color: red;
    border: none;
    padding: 1% 2%; 
    width: max-content;
    font-size: 1.5vw; 
    color: silver;
}

.dynamic-sliders {
    display: flex;
    justify-content: center;
    gap: 2%; 
}

.dynamic-sliders .rounded-circle {
    background-color: #333;
    border: none;
    padding: 0.5%;
}

.dynamic-sliders .rounded-circle.active {
    background-color: red;
}

@media (max-width:575px){
    .slider-info h1{
        font-weight: bolder;
    }

    .background-text{
       font-size: 25vw;
        position: absolute;
        top: 30vh;
        opacity: 0.2;
        color: gray;
        font-weight: bolder;
    }
}


.filter-buttons .btn{
    color: white;
}
.filter-buttons .btn.active{
    background-color: rgb(201, 16, 16);
    border: none;
}

.information-buttons .btn.active{
    background-color: rgb(201, 16, 16);
    border: none;
}

.card{
    transition: transform 0.3 ease;
    overflow: hidden;
}

.card img:hover{
    transform: scale(1.1);
    background-color: none;
}
