.hero-section {
    width: 100%;
    background-color: black;
    color: silver;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.slider-content {
    display: flex;
    flex-direction: row; 
        justify-content: space-between; 
    align-items: center; 
    width: 100%;
    padding: 2% 1.5%; 
}

.background-text {
    position: absolute;
    color: gray;
    font-size: 10vw; 
    opacity: 0.2;
    font-weight: bolder;
    font-size: 13rem; 
        top: 12rem;
        left: 1rem;
}

.slider-info {
    width: 100%;
}

.slider-info h1 {
    font-weight: bolder;
    font-size: 2.5rem; 
}

.slider-info strike {
    padding: 2%; 
    color: grey;
    font-size: 2vw; 
}

.slider-image {
    text-align: center;
    z-index: 2;
    pointer-events: none;
}

.slider-image img {
    width: 100%; 
    max-width: 90%; 
    height: auto;
}
.slider-info h5 {
    font-size: 1.5rem; 
}

.hero-btn {
    background-color: red;
    border: none;
    padding: 1% 2%; 
    width: max-content;
    font-size: 1.5vw; 
    color: silver;
}

.dynamic-sliders {
    display: flex;
    justify-content: center;
    gap: 2%; 
}

.dynamic-sliders .rounded-circle {
    background-color: #333;
    border: none;
    padding: 0.5%;
}

.dynamic-sliders .rounded-circle.active {
    background-color: red;
}

.filter-buttons .btn{
    color: white;
}
.filter-buttons .btn.active{
    background-color: rgb(201, 16, 16);
    border: none;
}

.information-buttons .btn.active{
    background-color: rgb(201, 16, 16);
    border: none;
}